<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<header>
    <h1>Groupie Tracker</h1>
</header>

<main class="container">

   <form action="/" method="GET" class="filter-form">

    <fieldset>
    <legend><strong>Creation Year</strong></legend>

    From:
    <select name="creationFrom">
        <option value="">Any</option>
        {{ range .CreationYears }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>

    To:
    <select name="creationTo">
        <option value="">Any</option>
        {{ range .CreationYears }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>

    <br>

    <fieldset>
    <legend><strong>First Album Year</strong></legend>

    From:
    <select name="albumFrom">
        <option value="">Any</option>
        {{ range .AlbumYears }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>

    To:
    <select name="albumTo">
        <option value="">Any</option>
        {{ range .AlbumYears }}
        <option value="{{ . }}">{{ . }}</option>
        {{ end }}
    </select>
</fieldset>
    <br>

    <fieldset>
        <legend><strong>Members</strong></legend>

        <label><input type="checkbox" name="members" value="1">1</label>
        <label><input type="checkbox" name="members" value="2">2</label>
        <label><input type="checkbox" name="members" value="3">3</label>
        <label><input type="checkbox" name="members" value="4">4</label>
        <label><input type="checkbox" name="members" value="5">5</label>
        <label><input type="checkbox" name="members" value="6">6</label>
        <label><input type="checkbox" name="members" value="7">7</label>
        <label><input type="checkbox" name="members" value="8">8</label>
    </fieldset>

    <br>

    <fieldset>
        <legend><strong>Concert Locations</strong></legend>

        <div class="location-box">

            {{ range .Locations }}
            <label>
                <input type="checkbox" name="location" value="{{ . }}">
                {{ . }}
            </label>
            <br>
            {{ end }}

        </div>

    </fieldset>

    <br>

    <button class="button" type="submit">
        Apply Filters
    </button>

</form>

<hr>

{{ range .Artists }}

<div class="card">

    <img src="{{ .Image }}" alt="{{ .Name }}">

    <h2>{{ .Name }}</h2>

    <p>
        <strong>Created:</strong>
        {{ .CreationDate }}
    </p>

    <p>
        <strong>First Album:</strong>
        {{ .FirstAlbum }}
    </p>

    <h3>Members</h3>

    <ul>
        {{ range .Members }}
        <li>{{ . }}</li>
        {{ end }}
    </ul>

    <a class="button" href="/artist?id={{ .ID }}">
        View Details
    </a>

</div>

{{ end }}